################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSD.WorkoutTracker/bin
/FSD.WorkoutTracker/obj/Debug
/FSD.WorkoutTracker.DataAccess/bin/Debug
/FSD.WorkoutTracker.Logger/bin/Debug
/FSD.WorkoutTracker.Logger/obj/Debug
/FSD.WorkoutTracker.Models/obj/Debug
/FSD.WorkoutTracker.Tests/bin/Debug
/FSD.WorkoutTracker.Models/bin/Debug
/FSD.WorkoutTracker.DataAccess/obj/Debug
/FSD.WorkoutTracker.Tests/obj/Debug
/packages
/FSD.WorkoutTracker/obj/Release
/FSD.WorkoutTracker.DataAccess/obj/Release
/FSD.WorkoutTracker.Logger/obj/Release
/FSD.WorkoutTracker.Models/obj/Release
/FSD.WorkoutTracker.Tests/obj/Release
/FSD.WorkoutTracker.ExceptionHandling/obj/Debug
/FSD.WorkoutTracker.ExceptionHandling/FSD.WorkoutTracker.ExceptionHandling.csproj
/FSD.WorkoutTracker.ExceptionHandling
/FSD.Workout.Core/bin/Debug
/FSD.Workout.Core/obj/Debug
/FSD.WorkoutTrackerTests/obj/Debug
/FSD.WorkoutTrackerTests
